.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
  background-color: rgba(0, 0, 0, 0) !important;
}
.navbar .nav-item .nav-link {
  font-size: medium !important;
}
.navbar-brand {
  width: 20%;
}
.dropdown-toggle::after {
  content: none !important;
  display: block;
}
.navbar-brand {
  padding: 0 !important;
}
.navbar {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  /* z-index: 10; */
}
.nav-item {
  width: 15%;
  margin: 5px;
}
.nav-link {
  padding: 5px !important;
}

.caro-capt {
  position: absolute;
  bottom: 20% !important;
  transform: translate(10px, 10px);
  background-color: rgba(00, 00, 00, 0.7);
  color: white !important;
}
.toTop {
  position: fixed;
  right: 1em;
  bottom: 1em;
  background: rgba(0, 0, 0, 0.5);
  width: 45px;
  height: 45px;
  text-align: center;
  color: #fff;
  font-size: 2em;
  border-radius: 25px;
}
