* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.login-body {
  background-image: url("../../assets/img/resort1.jpg");
}
.row-css {
  margin: auto !important;
  width: 100%;
  padding: 10px;
}
.sign-up {
  position: relative;
  top: 100px;
  width: 30% !important;
  background: rgba(00, 00, 00, 0.7);
}
.btn-css {
  width: 100%;
  height: 40px;
  margin: 0px !important;
}
.centered {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder !important;
  background-color: rgba(00, 00, 00, 0.7);
  color: white !important;
}
